#
# Target Images
#
#
# Root filesystem archives
#
#
# Root filesystem images
#
CONFIG_TARGET_ROOTFS_SQUASHFS=n
CONFIG_TARGET_ROOTFS_EXT4FS=y
CONFIG_TARGET_ROOTFS_TARGZ=n
CONFIG_GRUB_IMAGES=n
CONFIG_GRUB_TIMEOUT="0"
CONFIG_VHDX_IMAGES=y
#
# Image Options
#
CONFIG_TARGET_KERNEL_PARTSIZE=256
CONFIG_TARGET_ROOTFS_PARTSIZE=4096
# end of Target Images
